@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #eceef3; /* soft grey-lavender */
  color: #2c2c35;       /* softer, not pure black */
  font-family: Inter, system-ui, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.logo {
  display: none !important;
}
